{% extends "base.html" %}
{% block title %}Movie{% endblock%}
{% block content %}

<div class="content">
<image src="{{ url_for('static', filename='images/logooo.png')}}" class="logo">

  <h1>Wist je dit over vliegtuigen?</h1>

  <image src="{{ url_for('static', filename='images/weetjes_vlieg.jpg')}}" width="475" height="255" align="right">
  <br>Weet jij wat de veiligste stoel in het vliegtuig is? En wat er gebeurt als een vliegtuig geraakt wordt door de bliksem?</br>
  <br>Corendon geeft antwoord op prangende vragen en onthult 10 verrassende vliegtuigfeitjes.</br>

  <h3>1. De veiligste stoel in het vliegtuig bestaat niet</h3>
  <br>Er zijn wel eens onderzoeken gedaan waaruit bleek dat de meest veilige stoel in het vliegtuig achterin en in het midden is, <br>mocht het tot een crash komen.
  <br>Voor mensen met vliegangst kan dit feitje helpen om de vlucht wat comfortabeler te maken.</br>
  Hoewel de impact van de crash bij deze stoelen misschien het laagst is,
  is een crash uiteindelijk van zoveel factoren
  <br>afhankelijk dat het volgens de FAA (Federal Aviaton Administration) niets uitmaakt waar je zit.</br>

  <h3>2. Bliksem kan geen kwaad</h3>
  <br>Goed nieuws voor diegene met vliegangst: het kan geen kwaad als een vliegtuig door de bliksem geraakt wordt.
  <br>Vliegtuigen worden zo ontworpen dat ze honderdduizenden ampère elektriciteit kunnen weerstaan <br>en dat is veel meer dan de bliksem kan veroorzaken.
  Gemiddeld wordt een vliegtuig zo’n <br>twee keer per jaar geraakt door de bliksem, maar het toestel is zo gemaakt dat passagiers daar niets van merken.</br>

  <image src="{{ url_for('static', filename='images/bliksem_vg.jpg')}}" width="475" height="255" align="right">
  <h3>3. Het is altijd donker tijdens het opstijgen en landen</h3>
  <br>Ooit gemerkt dat de lichten altijd gedimd worden tijdens het opstijgen en landen? Dat heeft een speciale reden.
  <br>Mocht het namelijk – daar gaan we weer – tot een evacuatie of crash komen, dan zijn je ogen alvast gewend aan het donker.
  <br>De reden waarom de raampjes altijd open zijn,
  is omdat de crew op die manier in de gaten kan houden wat er op de luchthaven <br>en in de omgeving van het vliegtuig gebeurt.</br>

  <h3>4. Niet beide motoren zijn nodig om te vliegen</h3>
  <br>Zeg nou eerlijk: jij zou toch ook helemaal in paniek raken als er een motor zou uitvallen?
  <br>Gelukkig is dat nergens voor nodig, want een vliegtuig kan prima vliegen met maar één motor.
  <br>Vliegen met één motor is wel minder zuinig qua brandstof en er kan dus minder ver mee gevlogen worden.</br>

  <h3>5. Ook in de lucht kun je een boete krijgen</h3>
  <br>Niet alleen op straat kun je te ver gaan en een boete krijgen. Piloten en het luchtvaartpersoneel <br>
  hebben ook het recht om je een boete te geven. Boetes kunnen bijvoorbeeld uitgeschreven <br>

  <image src="{{ url_for('static', filename='images/vliegtuigeten.jpg')}}" width="475" height="255" align="right">
  worden voor roken tijdens de vlucht of andere zaken die ‘belemmering, bedreiging of <br>
  gevaar vormt of zou kunnen vormen voor een of meerdere personen, eigendommen of het luchtvaartuig zelf'.
  <br>Op Amerikaanse vluchten is het trouwens ook verboden om de Samsung Galaxy Note 7 mee het vliegtuig in te nemen.<br>
  Wat de hoogte van de boetes is, verschilt per luchtvaartmaatschappij.</br>


  <h3>6. De uitklapbare tafeltjes bevatten de meest bacteriën</h3>
  <br>Erg handig, die uitklapbare tafeltjes: niet alleen om je boek, laptop of bekertje drinken op kwijt
  <br>te kunnen, maar misschien ook om je hoofd erop te laten steunen en zo lekker in slaap te vallen.
  <br>Getver! Nooit meer doen, want onderzoek wees uit dat deze tafeltjes vaak niet zo goed gereinigd worden
  <br> waardoor ze de meeste bacteriën bevatten aan boord.</br>

  <h3>8. Vliegtuigeten smaakt nooit lekker</h3>
  <br>Het is niet zo dat luchtvaartmaatschappijen expres vies eten serveren. De wetenschap vertelt dat het
  <br>aan onszelf ligt: je smaakpapillen werken nou eenmaal minder goed op 10 kilometer hoogte.
  <br>Vooral de droge lucht in de cabine is daarvan de boosdoener. Er is één drankje dat wel lekkerder is in het vliegtuig en dat is tomatensap.</br>

  <image src="{{ url_for('static', filename='images/strepen_vlieg.jpg')}}" width="475" height="195" align="right">

  <h3>9. Hoofdtelefoons zijn nooit nieuw</h3>
  <br>Ze komen altijd recht uit een gesloten, plastic verpakking, dus de hoofdtelefoons of oortjes die de crew
  <br>uitdeelt aan de passagiers lijken nieuw. Niets is minder waar: na elke vlucht worden ze gereinigd
  <br>(althans, dat mogen we hopen) en opnieuw verpakt.Hetzelfde geldt overigens voor de dekentjes en de kussens…</br>


  <h3>10. Die streep in de lucht bestaat uit hete lucht die in aanraking komt met koude lucht</h3>
  <br>Niets fijner dan liggend in het gras op een warme zomerdag naar een blauwe lucht staren,
  <br>waar vliegtuigen sporen in de vorm van witte strepen achterlaten. Die streep bestaat in
  <br>feite uit hete lucht dat achteruit het vliegtuig geblazen wordt en in aanraking komt met koude lucht.
  <br>Het is dezelfde reactie die je krijgt wanneer je uitademt als het buiten vriest.</div>


  <footer>
    <p>Powered by class IC104, Team A<br>
  </footer>
{% endblock %}



